@import url('https://fonts.google.com/specimen/Figtree');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background:hsl(47, 88%, 63%);
    color: rgb(0, 0, 0);
}



.container {
    margin: 18vh auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px;
    background: white;
    max-width: 440px;
    height: 600px;
}

.illustration {
    width: 100%;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    justify-self: start;
    border-radius: 50px;
}

.content h4 {
    font-family: Figtree, sans-serif;
    padding: 11px;
    margin: auto 5%;
    background: hsl(47, 88%, 63%);
    border-radius: 5px;
    width: 20%;

}

.content-2 p {
    font: bold 13px Figtree, sans-serif;
    padding: 15px;
    margin: auto 1%;
    border-radius: 10px;
    width: 50%;
}

.content-3 h2 {
    font: bold 20px Figtree, sans-serif;
    padding: 0px;
    margin: auto;
    width: 90%;
}

.content-4 p {
    font: 16px Figtree, sans-serif;
    word-spacing: 0.5rem;
    padding: 15px;
    margin: 5px;
    width: 90%;
    color: rgb(100, 95, 95);
}

.content-5 h5 {
    font: bold 15px Figtree, sans-serif;
    padding: 10px;
    margin: -14% auto;
    width: 60%;
    text-align: start;
}

.avatar {
    padding: 10px;
}






